/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    height: 100%;
    line-height: 1;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#retroBannerOne {
    width: 120vw;
}

#jacksAppsBadge {
    width: 7%;
    height: 5%;
}

body {
    background: #F5F2E9;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 1% 1% 3% 1%;
}

h1 {
    color: #000;
    font-family: Ubuntu Mono;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    width: 30%;

}

header p {
    color: #000;
    font-family: Ubuntu;
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    line-height: normal;
    padding-left: 2%;
}

.verticalBanner {
    width: 20vw;
    object-fit: cover;
}

#bannerTwo {
    height: 100vh;
}

#bannerTwoExtended {
    height: 200vh;

}


#cartoonPicture {
    position: relative;
    top: 5px;
    width: 20.1vw;
    height: 25vw;
}

#aboutMeSection {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 98%;
}

.headingText {
    color: #000;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#aboutMeSection p {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#aboutMeText {
    width: 60%;
    margin: 1% 10% 1% 1%;
}

#projectsTitle {
    /* transform: rotate(90deg); */
    color: #000000;
    font-family: Ubuntu Mono;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.projectsAside {
    width: 100vw;
    height: 25%;
    margin-top: 40%;
}


.projectsAside div {}

.callToActionSection {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 220%;
}

.callToActionSection div {
    display: flex;
    padding: 0% 3% 0% 10%;
    flex-direction: column;
    justify-content: center;
}

.callToActionSection div p {
    margin-bottom: 2%;
    color: #000;
    text-align: justify;
    font-family: Syncopate;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buttonOrange {
    border: none;
    background-color: #F15731;
    color: #FFF;
    padding: 1.7% 1% 1.5% 1%;
    margin-top: 1%;
    font-family: Syncopate;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.callToActionSection div button {
    border: none;
    background-color: #F15731;
    width: 175px;
    height: 50px;
    color: #FFF;
    font-family: Syncopate;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.projectContainer {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
}

.projectContainer img {
    height: 400px;
    width: 285px;
    object-fit: fill;
    padding: 2px;
}

.mainContent {
    padding-left: 2%;
    margin-left: 20vw;
}

footer {
    position: absolute;
    width: 100%;
    height: 20vh;
    background: #3E3E3E;
    z-index: 10;
}